/* style.css */
body {
  font-family: Arial, sans-serif;
  padding: 90px;
}
label {
  display: block;
  margin: 10px 0 5px;
}

input[type="text"], input[type="email"], input[type="tel"], textarea, select {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#applicationsTable {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}


@media screen and (max-width: 600px) {
  table {
      border: 0;
  }

  table thead {
      display: none;
  }

  table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
  }

  table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
  }

  table td:last-child {
      border-bottom: 0;
  }

  table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
  }
}
